atadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin;remote_monitor:password"
}

mysql_servers = (
  { address="mysql", port=3306, hostgroup=10, max_connections=100 }
)

# FIXME query_reader use random password from a secret.
mysql_users = 
(
  { username="myuser", password="password", default_hostgroup=10, transaction_persistent=true },
)

mysql_query_rules = (
  {
    rule_id=1,
    active=1,
    match_pattern=".*",
    destination_hostgroup=10,
    apply=1
  }
)

mysql_audit_log_filename="/var/log/proxysql_queries.log"
mysql_eventslog_filename="/var/log/queries.log"
mysql_connection_max_age_ms=86400000
